# Simulation outputs
*.vcd
*.fst
*.vpd
*.fsdb
*.out
*.log

# Tool artifacts
*.daidir/
*simv*
*.key

# Synthesis outputs
*.ddc
*.sdc
*.sdf
*.mapped.v
*.svf

# Build directories
build*/
*-syn/
*-par/

# OS
.DS_Store

# Cadence stuff
*.dump
.cadence/

# Spectre stuff
psf/
psf*/
input.*/
amap/
ihnl/
*.ahdlSimDB
.controlStatements
.definitionFiles
.designVariables
.ignore*
.modelFiles
.otherParams
.specialFilesInclude
.stimulusFiles
.thermalNode
ade_e.scs 

# Other stuff
DVEfiles/

